.container{
    background-color: rgb(47, 196, 79);
    width: 700px;
    height: 700px;
    align-items: center;
    border: 3px solid blue;
    transition: 1.0;
    display: flex;
}

#img1{
   /* width: 110px;*/
   /* height: 110px;*/
    position: absolute;
    align-items: center;
    z-index: 1;
    overflow: hidden;
    animation-name: myanimation;
    animation-duration: 2s;
    animation-iteration-count: 15;
    animation-direction: alternate;
}
.hello{
     justify-content: center;
    border: 2px solid darkmagenta;
    background-color: blue;
    width: 100px;
    height: 100px;
    /* transition: 04s; */
    margin-top: 10px;
    left: 50%;
    position: absolute
}
.hello:hover{
    transform: scale(1.6);
}
.animation :hover{
    border: 2px solid black;
    transform: scale(1.5);
    background-color: azure;
}
@keyframes myanimation{
    25%{
        top: 0;
        transform: rotatez(360deg);
    }
    50%{
        bottom: 150px;
        transform: rotate(150deg);
    }
    75%{
        left: 150px;
    }
    100%{
        right: 110px;
    }
    }